# Variable by GeekforGeek

In [4]:
X= 15
y=12
name="Akhila"
print(X)
print(y)
print(name)
print(X,y,name)

15
12
Akhila
15 12 Akhila

In [6]:
age=21
_color="lilac"
total_score=90
print(age)
print(_color)
print(total_score)

21
lilac
90

In [9]:
1name="Error" #no digit should for variable
class = 10 #class is a keyword
user-name="Doe"#- can not be used for the variables

SyntaxError: invalid decimal literal (3750444670.py, line 1)

# Basic asssignment

# variablein python are assigned values using the = operator

In [10]:
x= 78
y= 7.23
z="Hlo"

#  python is a dynamically typed  meaning "SAME VARIABLE CAN BE HOLD DIFFERENT TYPES OF THE VALUE "

In [15]:
X=78 
X= "NOW I AM STRING " 
print(X)

print(X)# even you assign the two different values for the same variable the last updated values will be displayed by the print stmt "

NOW I AM STRING
NOW I AM STRING

# Multiple Assignments (multiple assigned values in single line ,same valus is assigned in the mulptiple values )

In [24]:
a=b=c=100 
print(a)
print(b)
print(c)

100
100
100

In [27]:
a=b=c=100 
print(a,b,c)

100 100 100

# Different Values

In [28]:
z,x,t=14,45,"OXO"
print(z,x,t)

14 45 OXO

# typing Casting

In [29]:
s="10"
n= int(s)
w=5
a=float(w)
q=25
S=str(q)
print(n)
print(a)
print(S)

10
5.0
25

In [33]:
d=1045
w=float(d)#int to float 
q=12.5
e=int(q)#float to int 
g=100
r=str(g)# int to str 
s="785"
t=int(s)# str to int 
y=1456.32
i=str(y)# float to str 
a="45789 "
c=float(a)#str to float 
print(w,e,r,t,i,c)

1045.0 12 100 785 1456.32 45789.0

# type in the varaible

In [40]:
n= 34
f=3.14
s= "hello World!"
li = [1,2,3 ]
d= {'key':'value'}
bool = True 
print(type(n))
print(type(f))
print(type(s))
print(type(li))
print(type(d))
print(type(bool))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

In [43]:
n=224
f=14.5
s="akhila"
li=[12,34,45]
d={'value: 34 '}
bool=False 
print((n))
print((f))
print((s))
print((li))
print((d))
print((bool))

224
14.5
akhila
[12, 34, 45]
{'value: 34 '}
False

In [44]:
x= 5 
y= x
x="geek"
y= "computer "
print (x,y)

geek computer

In [48]:
x=10 
print(x)
del x

10

In [51]:
ds ,sd =45,21
ds ,sd =sd ,ds # swapping two varaiblfe 
print(ds,sd)

21 45

In [ ]:
#counting characters in a string 
word ='python"
length= len(Word)
print(lenght of the word:", length

In [52]:
x,y=5,7
x,y=y,x
print(x)
print(y)

7
5

In [53]:
x=5
y=7
z=x+y
print(z)

12